name: enterprise.yml
on:
  pull_request:
    branches:
      - '3.0'
      - 'main'
  push:
    branches:
      - '3.0'
      - 'main'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        go: [ 'stable' ]
    name: enterprise-${{ matrix.os }}-${{ matrix.go }}
    steps:
      - name: get branch push
        id: get-branch
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo "branch=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "branch=${{ github.base_ref }}" >> $GITHUB_OUTPUT
          else
            echo "branch=main" >> $GITHUB_OUTPUT
          fi

      - name: get TDengine
        run: |
          wget "${{ secrets.NIGHTLY_TDENGINE_ENTERPRISE_BASE_URL }}/tsdb-nightly-${{ steps.get-branch.outputs.branch }}.tar.gz?v=$(date +%s)" -O tsdb-nightly-${{ steps.get-branch.outputs.branch }}.tar.gz

      - name: install
        run: |
          tar -zxf tsdb-nightly-${{ steps.get-branch.outputs.branch }}.tar.gz
          cd tsdb-nightly-${{ steps.get-branch.outputs.branch }}
          ls -al
          sudo ./install.sh

      - name: checkout
        uses: actions/checkout@v6

      - name: copy taos cfg
        run: |
          sudo mkdir -p /etc/taos
          sudo cp ./.github/workflows/taos.cfg /etc/taos/taos.cfg

      - name: shell
        run: |
          cat >start.sh<<EOF 
          ulimit -n 65535 && taosd
          EOF

      - name: taosd
        run: nohup sudo sh ./start.sh &

      - name: taosadapter
        run: nohup sudo taosadapter &

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache-dependency-path: go.sum

      - name: Test
        id: test
        env:
          GO_TEST_DISABLE_DISPLAY_LOG: "true"
          GO_TEST_ENTERPRISE: "true"
        run: |
          go mod download
          go test -coverpkg=./... -v --count=1 -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
          OS: linux

      - uses: actions/upload-artifact@v6
        if: always() && (steps.test.outcome == 'failure' || steps.test.outcome == 'cancelled')
        with:
          name: enterprise-${{ matrix.os }}-${{ matrix.go }}-log
          path: /var/log/taos/